.book-date {
  float: left;
  padding: 50px;
  display: block;
  height: 65.5vh;
  width: 35%;
}
.date-selection-screen {
  height: 80vh;
}

.book-slot {
  padding: 40px;
  border-right-width: 0px;
  width: 100%;
  margin-left: 10%;
}
