.book-date {
  width: 40%;
  float: left;
}
.date-selection-screen {
  height: 100%;
  display: flex;
  justify-content: center;
}

.book-slot {
  width: 60%;
  display: flex;
}
#back-button {
  margin: 10%;
}
