#thank-you {
  font-size: 40px;
}
#book_again_button{
  margin-top: 20px;
}
.slot-details {
  color: #f7407d;
}
.description-of-meeting {
  width: 50%;
  height: 50vh;
  font-weight: bold;
  color: #3096e9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

