.doctor-details {
  padding: 5%;
  color: var(--text-color-level2, rgba(77, 80, 85, 0.6));
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#profile-info-name {
  font-weight: bolder;
  font-size: 20px;
  color: #3096e9;
}

.doctor-qualification {
  color: #3096e9;
  margin: 1%;
}
#doctor-contact {
  width: 100%;
}
#image-of-doctor {
  max-width: 80%;
  max-height: 100%;
}
