.doctor-details {
  max-width: 100vh;
  margin: 0 auto 20px auto;
  display: block;
  padding: 50px 50px;
  color: var(--text-color-level2, rgba(77, 80, 85, 0.6));
  font-size: 14px;
  box-sizing: inherit;
  text-align: center;
}
#profile-info-name {
  font-weight: bolder;
  font-size: 20px;
  color: #3096e9;
}

.doctor-qualification {
  margin: 5px 5px 5px 5px;
  color:#3096e9;
}
#book_appointment_button{
  margin: 30px;
}
