.App {

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  box-sizing: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5055;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

.doctor_img {
  text-align: center;
  margin-bottom: 12px;
  box-sizing: inherit;
  display: block;
}

.book_appointment {
  height: 200px;
  width: 35%;
  background-color: white;
  display: flex;
  float: left;
  text-align: center;
  padding: 20px 20px;
  font-weight: bold;
  color: #4d5055;
  font-size: 15px;
  margin: 20px 20px 20px 100px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 1px;
}
